<script type="text/template" id="loaderTemplate">
    <div id="modalLoader" class="modal fade hide">
        <div class="modal-body">
            <legend>Proszę czekać . . .</legend>
            <img src="<%= loaderGif %>" />
        </div>
    </div>
</script>