<script type="text/template" id="popoverRemoveAllTemplate">
<div style="text-align: center;"><%= deleteConfirmAll %><br /><br />
    <a href="" class="btn btn-primary btn-mini remove-all-marked-confirm"><%= confirm %></a>&nbsp;&nbsp;&nbsp;
    <a class="btn btn-inverse btn-mini dismiss"><%= dismiss %></a>
</div>
</script>
