<script type="text/template" id="popoverRemoveThisTemplate">
    <div style="text-align: center;"><%= deleteConfirm %><br /><br />
        <a href="" class="btn btn-primary btn-mini remove-this-confirm"><%= confirm %></a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-inverse btn-mini dismiss"><%= dismiss %></a>
    </div>
</script>