{% extends 'CatMSAdminBundle::cutBase.html.twig' %}

{% block content %}

    
    <form class="form-horizontal" action="{{ path('generate_new_password') }}" method="post" style="width: 620px; margin: 20px auto">
        <p>{{ 'auth.generateNewPasswordText' | trans }}</p>
        <div class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" placeholder="E-mail" name="email">
                <button type="submit" class="btn"><i class="icon-forward"></i> {{ 'global.send' | trans }}</button>
            </div>
        </div>   
    </form>

<script>
    $(document).ready(function(){
        $('button:submit').click(function() {
            if ($('input[name="email"]').val() == '') {
                return false;
            }
        });
    });
</script>
    
{% endblock %}