<script src={{ asset('js/catms.archive.js') }}></script>
<div class="archive-trigger-container">
    <a class="btn btn-inverse"><i class="icon-chevron-left"></i> Archive</a>
</div>
<div class="archive-container">
    <div class="archive">
        {% if entity.archives | length > 0 %}
        <div class="page-header no-margin">
            <h5>Archive <small>from {{ entity.archives[0].createdAt | date("Y/m/d H:i:s") }} to {{ entity.archives[entity.archives | length - 1].createdAt | date("Y/m/d H:i:s") }}</small></h5>
        </div>
        <!--<div class="loader-gif"></div>-->
        <div class="append-here-archive">
            <table class="table table-bordered archive-table">
                <thead>
                    <tr>
                        <th>Archive date</th>
                        <th>Full Text</th>
                        <th>Short Text</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for archive in entity.archives %}
                    <tr>
                        <td>{{ archive.createdAt | date("Y/m/d H:i:s") }}</td>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <button class="btn btn-primary btn-mini"><i class="icon-refresh"></i> Import</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">
            No archives saved.
        </div>
        {% endif %}
    </div>
</div>