<script src={{ asset('js/catms.sample-content.js') }}></script>

<a class="btn btn-info btn-small sample-trigger pull-right"><i class="icon-share"></i> {{ 'global.sampleContent' | trans }}</a>

<div class="sample-content-container hide">
    <div id="content1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed augue at risus gravida feugiat sit amet eget lorem. Fusce iaculis sit amet lorem quis gravida. Phasellus sed nibh id arcu facilisis viverra ut in velit. Mauris augue leo, gravida eget tortor sit amet, aliquet pulvinar nisl. Proin vel justo molestie, rutrum ligula non, ornare ligula. Maecenas vitae lacus bibendum, vulputate arcu vitae, dignissim metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec fermentum nibh nisi, et lacinia tortor faucibus eget. Maecenas facilisis, magna nec vestibulum egestas, dui lacus ullamcorper neque, ultrices ullamcorper nisl est ut leo. Donec eu lacus non nibh eleifend semper. Sed varius facilisis aliquam. Quisque ante sem, sodales nec mauris nec, varius pharetra ligula. Sed aliquam tempus sem, ut luctus orci tristique ac.</p>
    </div>
    <div id="content2">
        <p>Maecenas blandit elit in sodales convallis. In gravida varius condimentum. Integer adipiscing consectetur velit. Integer a porttitor libero. Phasellus at eros sit amet orci egestas consequat ac id tortor. Etiam quam augue, volutpat id vulputate nec, gravida nec quam. Nullam neque libero, tincidunt vel ultricies non, placerat quis tellus. Nulla vitae neque eu mauris tristique convallis. Mauris vestibulum congue posuere.</p>
    </div>
    <div id="content3">
        <p>Aliquam iaculis sollicitudin eros, ut porta orci convallis ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse elit risus, pharetra at neque ut, euismod volutpat magna. Vestibulum id tempor augue. Nam est enim, faucibus lacinia semper sed, sodales nec sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer et diam justo. Praesent rhoncus molestie urna ut porta. Pellentesque eget adipiscing tortor. Fusce non tempor eros. Mauris semper, lacus suscipit gravida dictum, turpis tellus congue lorem, ut commodo quam lorem vel enim. Aliquam a enim eu quam rutrum porta. Pellentesque ut purus fringilla, pharetra quam vitae, laoreet neque.</p>
    </div>
    <div id="content4">
        <p>Ut volutpat lacinia urna non tempus. In eget adipiscing justo. In hac habitasse platea dictumst. Sed quis ipsum facilisis, venenatis nulla eu, ultrices enim. Cras pulvinar viverra malesuada. Cras nisi sem, congue sit amet nunc sit amet, vulputate rutrum nibh. Aenean et rhoncus odio. Integer eleifend elit magna, nec rhoncus dolor fringilla ac. Sed gravida quis turpis id placerat. Aliquam gravida ipsum non nunc sodales lobortis.</p>
    </div>
    <div id="content5">
        <p>Nullam pharetra mattis enim. Maecenas venenatis orci lectus, quis eleifend diam vestibulum in. Aliquam lobortis fermentum nibh. Nullam cursus, metus eget dignissim aliquet, nibh libero viverra nunc, non mollis nulla arcu at arcu. Ut sed odio id enim iaculis ultricies ac non velit. Aliquam ut purus posuere, luctus neque eu, cursus dolor. Fusce at porta metus. Pellentesque cursus justo a urna feugiat, at varius elit.</p>
    </div>
    <div id="content6">
        <p>Aliquam iaculis sollicitudin eros, ut porta orci convallis ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse elit risus, pharetra at neque ut, euismod volutpat magna. Vestibulum id tempor augue. Nam est enim, faucibus lacinia semper sed, sodales nec sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer et diam justo. Praesent rhoncus molestie urna ut porta. Pellentesque eget adipiscing tortor. Fusce non tempor eros. Mauris semper, lacus suscipit gravida dictum, turpis tellus congue lorem, ut commodo quam lorem vel enim. Aliquam a enim eu quam rutrum porta. Pellentesque ut purus fringilla, pharetra quam vitae, laoreet neque.</p>
        <p>Ut volutpat lacinia urna non tempus. In eget adipiscing justo. In hac habitasse platea dictumst. Sed quis ipsum facilisis, venenatis nulla eu, ultrices enim. Cras pulvinar viverra malesuada. Cras nisi sem, congue sit amet nunc sit amet, vulputate rutrum nibh. Aenean et rhoncus odio. Integer eleifend elit magna, nec rhoncus dolor fringilla ac. Sed gravida quis turpis id placerat. Aliquam gravida ipsum non nunc sodales lobortis.</p>
        <p>Nullam pharetra mattis enim. Maecenas venenatis orci lectus, quis eleifend diam vestibulum in. Aliquam lobortis fermentum nibh. Nullam cursus, metus eget dignissim aliquet, nibh libero viverra nunc, non mollis nulla arcu at arcu. Ut sed odio id enim iaculis ultricies ac non velit. Aliquam ut purus posuere, luctus neque eu, cursus dolor. Fusce at porta metus. Pellentesque cursus justo a urna feugiat, at varius elit egestas. Fusce lobortis aliquet tristique. Fusce luctus nisi vel ligula adipiscing lobortis. Donec pellentesque imperdiet velit</p>
    </div>
</div>