{% extends 'CatMSFrontendBundle::base.html.twig' %}

{% block seo %}
    {% include 'CatMSFrontendBundle:Helpers:page-seo-autotitle.html.twig' with {'title': news.title } %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>{{ news.title }}</h2>
    <h5 class="created-at">{{ news.createdAt | date('d.m.Y H:i:s') }}</h5>
    <div>
        {{ news.fullText | raw }}
    </div>
</div>
{% endblock %}