{% extends 'CatMSFrontendBundle::base.html.twig' %}

{% block seo %}
    {% include 'CatMSFrontendBundle:Helpers:page-seo.html.twig' with {'pageName': content.slug } %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>{{ content.title }}</h2>
    <div>
        {{ content.fullText | parse_gallery | raw }}
    </div>
</div>
{% endblock %}