{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Content manager</li>
{% endblock %}
    
{% block content %}
    <legend>Content manager module description</legend>
    <p>Module allows you to define the relevant text content, and use them on the frontend pages.</p>
    <p>Each record save into database contains:
        <ul>
            <li>slug</li>
            <li>description</li>
            <li>header title</li>
            <li>short text</li>
            <li>full text</li>
            <li>create date</li>
            <li>update date</li>
        </ul>
        Header title and short text can be omitted. In this case, if short content is required on frontend page, the full text is truncate
        and use as short text.
    </p>
    <p>You can use CSS and Javascript into WYSIWIG editor. It is possible by click text edit icon into editor options bar.</p>
    <p>Remeber that, any content copied from other text editor like Word, Open Office etc. 
        might result uncotrlled attempt to imitate source text. <br />Therefore
        <strong>be careful</strong> if you want to proceed this type of operation.</p>
    
    <hr />
    
    <div class="btn-group">
        <a href="{{ path('content-manager-list') }}" class="btn"><i class="icon-list"></i> Show list</a>
        <a href="{{ path('content-manager-new') }}" class="btn"><i class="icon-pencil"></i> 
            Create new content
        </a>
    </div>
{% endblock %}