<div id="kontakt">
    <h3><strong>KONTAKT</strong></h3>

    <ul>
        <li class="web"><a href="mailto:karol@cary.pl">karol@cary.pl</a></li>
        <li class="phone">+48 609 200 000</li>
    </ul>

    <div class="form">
        <form method="">
            <textarea placeholder="Tutaj wpisz wiadomość"></textarea>
            <input type="text" placeholder="Adres e-mail lub telefon" />
            <input type="text" placeholder="Twoje imię i nazwisko" />
            <input type="submit" />
        </form>
        <img src="{{ asset('cary/img/qr.png') }}" />
    </div>

    <h5><span>Dziękuję</span> za wizytę!</h5>

    <p>
        Web Designer: opracowuje dostępny interfejs strony oraz szatę graficzną. Webdesigner to wyspecjalizowany grafik,
        który tworzy szatę graficzną przeznaczoną dla serwisów WWW. Często także implementuje szablony graficzne współtworzonych serwisów.
        Web Designer pochodzi od słowa web design - projektowanie na potrzeby internetu.
    </p>

    <p>
        Freelancer: osoba pracująca bez etatu, realizująca projekty na zlecenie, najczęściej specjalizująca się w danej dziedzinie.
        Do profesji szczególnie popularnych wśród wolnych strzelców należą: fotografia, dziennikarstwo, copywriting, tłumaczenie, programowanie,
        malarstwo, grafika, doradztwo i inne zawody (głównie związane z pracą twórczą). Określenia „wolny strzelec” zazwyczaj nie
        nadaje się osobom wykonującym pracę fizyczną.
    </p>

</div>