<div id="homepage">
    <h3><strong><span>SKUTECZNE</span> PROJEKTOWANIE</strong> / WEB DESIGN & UX.</h3>
    <h5>Projektowanie graficzne serwisów www z uwzględnieniem potrzeb użytkowników. </h5>

    <p>
        Nazywam się <strong>Karol Połubiński</strong>, jestem  web designerem freelancerem.
        Posiadam ponad 10 letnie doświadczenie w projektowaniu grafiki na potrzeby internetu.
        Tworzę projekty dla wszystkich biznesów internetowych: sklepów, serwisów ogłoszeniowych, portali społecznościowych i korporacyjnych.
    </p>

    <a id="user" href="#"><span>Karol Połubiński<br /><strong>Freelance Web Designer</strong></span></a>

    <a href="#"><img src="{{ asset('cary/img/image-goldenline.png') }}" alt="Goldenline" /></a>
</div>