<div id="projects-detail"></div>

<script type="text/template" id="projectDetails">
    <a href="javascript:void(0);" class="p-right">Dalej</a>
    <a href="javascript:void(0);" class="p-left">Wstecz</a>

    <a href="javascript:void(0);" id="close">Wróć do listy projektów</a>

    <div id="project">
        <div id="title">
            <strong><%= title %></strong>
            <span><%= lead %></span>
            <em><%= createdFor %></em>
        </div>

        <div id="image">
            <img src="<%= img %>" alt="" />
        </div>

    </div>
</script>