<div id="referencje">
    <h3><strong>REFERENCJE</strong></h3>
    <div id="quotes" class="quotes">

        <div class="quote">
            <p>
                Odpowiedzialny, utalentowany, zaangażowany. Długotrwała współpraca nie demotywuje go a wręcz zachęca do jeszcze lepszej jakości - co jest niezwykle
                rzadkie i tym bardziej cenne. Robi dobrą robotę, zna się na rzeczy.
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

        <div class="quote" style="display: none;">
            <p>
                This is based on CMS's answer. The question asked for the timer to be restarted on the blur and stopped on the focus, so I moved it around a little:
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

        <div class="quote" style="display: none;">
            <p>
                New Array(1, 2) is equivalent to [1, 2], but new Array(1) is not equivalent to [1]. Rather the latter is closer to [undefined], since a single integer argument to the Array constructor indicates the desired array length.
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

        <div class="quote" style="display: none;">
            <p>
                Array, just like any other built-in JavaScript class, is not a keyword. Therefore, someone could easily define Array in your code to do something other than construct an array.
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

        <div class="quote" style="display: none;">
            <p>
                Array is a JavaScript native object, why don't you just try to use the API of it? Knowing API on its own will save you time when you will switch to pure JavaScript or another framework.

                There are number of different possibilities, so, use the one which mostly targets your needs.
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

    </div>

    <ul class="navigation">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

</div>