{% set references = get_content_group('reference') %}

<div id="referencje">
    <h3><strong>REFERENCJE</strong></h3>
    <div id="quotes" class="quotes">


        {% for reference in references %}
            <div class="quote">
                {{ reference.fullText | raw }}
                <span>{{ reference.shortText | stripp | raw }}</span>
            </div>
        {% else %}
            <div class="quote">
                <p>
                    Nie dodano wpisów. Proszę uzupełnić dane w panelu administracyjnym.
                </p>
                <span>Dawid Job<br />Developer CatMS</span>
            </div>
        {% endfor %}

    </div>

    <ul class="navigation">
        {% for i in 1..references | length %}
        <li><a href="javascript:void(0);">{{ i }}</a></li>
        {% endfor %}
    </ul>

</div>