<div id="referencje">
    <h3><strong>REFERENCJE</strong></h3>
    <div id="quotes">

        <div>
            <p>
                Odpowiedzialny, utalentowany, zaangażowany. Długotrwała współpraca nie demotywuje go a wręcz zachęca do jeszcze lepszej jakości - co jest niezwykle
                rzadkie i tym bardziej cenne. Robi dobrą robotę, zna się na rzeczy.
            </p>
            <span>Tomasz Karwatka<br />Prezes Grupa Divante Sp. z o.o.</span>
        </div>

    </div>

    <ul>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

</div>