user:
    path:      /list/{page}
    defaults:  { _controller: CatMSAuthBundle:User:index, page: 1 }
    requirements:
        page:  \d+

user_create:
    path:     /admin/user/creation
    defaults:  { _controller: CatMSAuthBundle:User:create, page: 1 }
    
user_new:
    path:     /new
    defaults:  { _controller: CatMSAuthBundle:User:new, page: 1 }
    methods:  [GET] 
    
user_show:
    path:     /{id}
    defaults:  { _controller: CatMSAuthBundle:User:show }
    methods:  [GET]
    requirements:
        id:  \d+

user_edit:
    path:     /{id}/edit
    defaults:  { _controller: CatMSAuthBundle:User:edit }
    methods:  [GET]
    requirements:
        id:  \d+
  
user_update:
    path:     /{id}
    defaults:  { _controller: CatMSAuthBundle:User:update }
    methods:  [PUT]
    requirements:
        id:  \d+
       
user_delete:
    path:     /{id}
    defaults:  { _controller: CatMSAuthBundle:User:delete }
    methods:  [DELETE]
    requirements:
        id:  \d+        

edit_password:
    path:     /change-password/{id}
    defaults:  { _controller: CatMSAuthBundle:User:changePassword }
    requirements:
        id:  \d+ 
        