{% extends 'CatMSFrontendBundle::base.html.twig' %}

{% block seo %}
    {% include 'CatMSFrontendBundle:Helpers:page-seo.html.twig' with {'pageName': content.slug} %}
{% endblock %}

{% block content %}

<div class="page-content">
    <div>
        <h2>Wydarzenia</h2>
        <div class="subpage-left">
            {% if subpages | length > 0 %}
                <ul>
                {% for page in subpages %}
                <li{% if content.slug == page.slug %} class="active"{% endif %}>
                    <a href="{{ path('hosp-events-page', {'slug': page.slug}) }}">
                        {{ page.title }}
                    </a>    
                </li>
                {% endfor %}  
                </ul>
            {% endif %}
        </div>
        <div class="subpage-right">
            <div class="subpage-content">
                <h4>{{ content.title }}{% if pagination and pagination.currentPageNumber > 1 %} - Archiwum{% endif %}</h4>
                <div class="conent-wrapper">
                    {% if not pagination or (pagination and pagination.currentPageNumber == 1) %}
                        {{ content.fullText | parse_gallery | raw }}
                    {% endif %}
                        
                    {% if subpages | length > 0 %}
                        {% for leaded in pagesWithLead %}
                            {% if content.slug in leaded %}
                                {% include 'CatMSFrontendBundle:Events:page-with-lead.html.twig' with {'pagination': pagination, 'slug': content.slug, 'currentPage': currentPage} %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}                        
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
$(function(){
    $('.subpage-left ul li a').click(function(){
        //showLoader();
    });
});
</script>
{% endblock %}