{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    <li class="active">Home</li>
{% endblock %}
    
{% block content %}
    <div class="hero-unit" style="padding: 30px">
        <h2><img style="padding: 5px;" src="{{ gravatar }}" class="gravatar" /> {% trans with {'username': app.user.username } %}auth.welcome{% endtrans %}</h2>
        <p><a class="btn btn-primary btn-small" href="{{ path('user_show', {'id': app.user.id })}}">{{ 'user.yourAccount' | trans }}</a></p>
    </div>
{% endblock %}
