{% extends 'CatMSFrontendBundle::base.html.twig' %}

{% block seo %}
    {% include 'CatMSFrontendBundle:Helpers:page-seo.html.twig' with {'pageName': slug} %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>NZOZ - Galeria</h2>
    {% if pagination | length > 0 %}
        {% for gallery in pagination %}
            <h3>{{ gallery.title  }}</h3>
            {{ gallery.fullText | parse_gallery | raw  }}
        {% endfor %}
            
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>                  
    {% else %}
            <span>Brak dodanych galerii</span>        
    {% endif %}
{% endblock %}