@charset "utf-8";
/* CSS cary_pl */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a img {
	border:0px solid;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image:url(../img/cary-bg.jpg);
	background-repeat:repeat-x;
	background-position:top center;
	padding:0px;
	margin:0px;
}

body#project {
	background-position:-280px 0px;
}

body#reference {
	background-position:-580px 0px;
}

body#contact {
	background-position:-817px 0;
}

body#project-detail {
	background-image:none;
	background-color:#fff;
}

@font-face {
    font-family: 'titillium_webregular';
    src: url('../font/titilliumweb-regular-webfont.eot');
    src: url('../font/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumweb-regular-webfont.woff') format('woff'),
         url('../font/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../font/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webbold';
    src: url('../font/titilliumweb-bold-webfont.eot');
    src: url('../font/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumweb-bold-webfont.woff') format('woff'),
         url('../font/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('../font/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tecna_heavyregular';
    src: url('../font/corradine_fonts_-_tecnaheavy-webfont.eot');
    src: url('../font/corradine_fonts_-_tecnaheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/corradine_fonts_-_tecnaheavy-webfont.woff') format('woff'),
         url('../font/corradine_fonts_-_tecnaheavy-webfont.ttf') format('truetype'),
         url('../font/corradine_fonts_-_tecnaheavy-webfont.svg#tecna_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tecna_extralightregular';
    src: url('../font/corradine_fonts_-_tecnaextralight-webfont.eot');
    src: url('../font/corradine_fonts_-_tecnaextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/corradine_fonts_-_tecnaextralight-webfont.woff') format('woff'),
         url('../font/corradine_fonts_-_tecnaextralight-webfont.ttf') format('truetype'),
         url('../font/corradine_fonts_-_tecnaextralight-webfont.svg#tecna_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrapper {
	width:996px;
	margin:0 auto;
    position: relative;
}

#top {
	display:block;
	width:970px;
	float:left;
}

body#project-detail #top-top {
	display:block;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	height:100px;
	position:fixed;
	background-image:url(../img/top-bg.png);
	background-repeat:repeat-x;
	z-index:1000;
}

body#project-detail #top {
	display:block;
	width:970px;
	float:left;
}

#top h1 {
	background-image:url(../img/logo-cary.png);
	background-repeat:no-repeat;
	width:259px;
	height:52px;
	display:inline-block;
	float:left;
	cursor:pointer;
	border:0px;
	text-indent:-3333px;
}

#top #menu {
	float:right;
	display:inline-block;
	margin-top:18px;
	cursor: default;
}

#top #menu.active li a {
	color:#b3b8c6;
}

#top #menu.active li.active a {
	color:#fff;
}

#top #menu li {
	display:inline;
	padding:3px 23px;
	list-style:none;
	border-right:1px solid #57585c;
	line-height:60px;
}

#top #menu li:last-child {
	border:0px;
}

#top #menu li a {
	color:#fff;
	font-family: 'titillium_webregular';
	text-transform:uppercase;
	font-size: 16px;
	text-decoration:none;
}


#homepage {
	display:block;
	float:left;
	clear:both;
	margin-top:70px;
	width:100%;
}

#homepage h3,
#projects h3 {
	font-size:27px;
	font-family: 'tecna_extralightregular';
	color:#b3b8c6;
	font-weight:normal;
	margin-bottom:0px;
}

#homepage h3 strong,
#projects h3 strong {
	font-family: 'tecna_heavyregular';
	font-size:30px;
	font-weight:normal;
}

#homepage h3 strong span {
	color:#33ccff;
}

#projects h3 {
	margin-top:72px;
}

#homepage h5 {
	font-family: 'titillium_webregular';
	font-size:16px;
	color:#868893;
	font-weight:normal;
	margin-top:0px;
}
	 
	 
#homepage p {
	width:560px;
	font-family: 'titillium_webregular';
	font-size:16px;
	color:#b2b8c5;
	line-height:24px;
	font-weight:normal;
	margin-top:33px;
	display:block;
	float:left;
	clear:both;
}

#homepage p strong {
	font-weight:normal;
	font-family: 'titillium_webbold';
}

#homepage a#user {
	width:170px;
	height:170px;
	padding:10px;
	float:left;
	display:block;
	text-decoration:none;
	background-color:#33ccff;
	clear:both;
	margin-top:90px;
	margin-bottom:10px;
	position:relative;
}

#homepage a#user span {
	color:#fff;
	font-family: 'titillium_webregular';
	font-weight:normal;
	text-decoration:none;
	font-size:13px;
	vertical-align: bottom;
	color:#fff;
	font-family: 'titillium_webregular';
	font-weight:normal;
	position:absolute;
	bottom:10px;
}

#homepage a#user span strong {
	font-family: 'titillium_webbold';
	font-weight:normal;
	font-size:14px;
}

#homepage a {
	clear:both;
	display:block;
	flat:left;
}

#projects {
	display:block;
	float:left;
	clear:both;
	margin-top:70px;
	width:100%;
}

#projects .projects {
	padding:20px;
}

#projects .projects #nav-top {
	display:block;
	clear:both;
	width:956px;
	float:left;
	padding:8px 0;
	margin-top:20px;
}

#projects .projects #nav-top a {
	background-image:url(../img/prev.png);
	background-repeat:no-repeat;
	background-position:0 2px;
	color:#fff;
	text-align:left;
	text-decoration:none;
	float:left;
	padding-left:26px;
	font-size:18px;
	font-family: 'titillium_webregular';
	font-weight:normal;
}

#projects .projects #nav-bottom {
	display:block;
	clear:both;
	width:926px;
	float:left;
	padding:8px 0;
}

#projects .projects #nav-bottom a {
	background-image:url(../img/next.png);
	background-repeat:no-repeat;
	background-position:82px 0px;
	color:#fff;
	text-align:right;
	text-decoration:none;
	float:right;
	padding-right:26px;
	font-size:18px;
	font-family: 'titillium_webregular';
	font-weight:normal;
}

#projects .projects #nav-bottom ul {
	margin-left:0px;
	padding-left:0px;
	float:left;
	margin-top:0px;
	cursor:default;
}

#projects .projects #nav-bottom ul li {
	margin-right:6px;
	display:inline-block;
}

#projects .projects #nav-bottom ul li a {
	background-color:#b3b8c6;
	width:18px;
	height:18px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	padding:0px;
	text-indent:-3333px;
	display:inline-block;
	text-align: left;
}

#projects .projects #nav-bottom ul li a:hover,
#projects .projects #nav-bottom ul li.active a {
	background-color:#ee1191;
}
	

#projects .projects #middle {
	display:block;
	float:left;
	margin:25px 0px 20px -20px;
}

#projects .projects #middle div {
	float:left;
	display:inline;
	width:280px;
	height:230px;
	margin-right:20px;
	border-right:1px solid #5f6065;
	padding-right:20px;
	border-left:0px;
	overflow:hidden;
}

#projects .projects #middle div:last-child {
	margin-right:0px;
}

#projects .projects #middle div:first-child {
	padding-left:20px;
	border-left:1px solid #5f6065;
}

#projects .projects #middle div img {
	float:left;
	display:block;
}

#projects .projects #middle div span {
	background-image:url(../img/project-bg.png);
	background-repeat:repeat;
	float:left;
	width:240px;
	height:40px;
	padding:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}

#projects .projects #middle div span em {
	font-style:normal;
	color:#be1a7a;
	font-family: 'titillium_webbold';
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	display:block;
	margin-bottom:8px;
}

#projects-detail {
	position:relative;
	margin-top:100px;
	float:left;
	width:996px;
}

#projects-detail a#close {
	background-image:url(../img/ico-close.png);
	background-repeat:no-repeat;
	background-position:top right;
	overflow:hidden;
	cursor:pointer;
	color:#666666;
	text-decoration:none;
	position:absolute;
	height:40px;
	font-size:14px;
	right:30px;
	text-align:right;
	padding-right:50px;
	font-family: 'titillium_webregular';
	font-weight:normal;
	line-height:36px;
}

#projects-detail a#close:hover {
	opacity:0.9;
}

#projects-detail #project {
	padding:30px 48px;
}

#projects-detail #project #title {
	margin:30px 0 30px 0;
	display:block;
	float:left;
	width:100%;
}

#projects-detail #project #title strong {
	font-size:14px;
	color:#ec1191;
	padding:2px 20px 2px 0;
	border-right:1px solid #d9dbe1;
	display:inline-block;
	float:left;
	font-family: 'titillium_webregular';
	font-weight:normal;
}

#projects-detail #project #title span {
	font-size:16px;
	color:#666666;
	padding:2px 20px 2px 20px;
	border-right:1px solid #d9dbe1;
	display:inline-block;
	float:left;
	font-family: 'titillium_webregular';
	font-weight:normal;
}

#projects-detail #project #title strong {
	font-size:16px;
	color:#ec1191;
	padding:2px 20px 2px 0px;
	border-right:1px solid #d9dbe1;
	display:inline-block;
	float:left;
	font-family: 'titillium_webregular';
	font-weight:normal;
}

#projects-detail #project #title em {
	font-size:14px;
	color:#b8bcca;
	padding:2px 20px 2px 20px;
	display:inline-block;
	float:left;
	font-family: 'titillium_webregular';
	font-weight:normal;
	font-style:normal;
}

#projects-detail #project #image {
	margin-bottom:30px;
}

#projects-detail a.p-right {
	background-image:url(../img/p-next.png);
	width:90px;
	height:70px;
	position:fixed;
	top:50%;
	margin-top:-35px;
	right:50%;
	margin-right:-550px;
	text-indent:-3333px;
	z-index:2000;
}

#projects-detail a.p-left {
	background-image:url(../img/p-prev.png);
	width:90px;
	height:70px;
	position:fixed;
	top:50%;
	margin-top:-35px;
	left:50%;
	margin-left:-550px;
	text-indent:-3333px;
	z-index:2000;
}

#projects-detail a.p-right:hover,
#projects-detail a.p-left:hover {
	opacity:0.9;
}


#referencje {
	display:block;
	float:right;
	clear:both;
	margin-top:126px;
	width:530px;
	margin-left:25px;
}

#referencje h3 {
	font-size:27px;
	font-family: 'tecna_extralightregular';
	color:#b3b8c6;
	font-weight:normal;
	margin-bottom:0px;
	margin-left:5px;
}

#referencje h3 strong {
	font-family: 'tecna_heavyregular';
	font-size:30px;
	font-weight:normal;
}

#referencje #quotes {
	background-image:url(../img/quotes.png);
	background-repeat:no-repeat;
	background-position:30px 0px;
	width:478px;
	height:219px;
	float:left;
	display:block;
	padding:0 30px;
	margin-top:100px;
	margin-left:-60px;
	border-left:1px solid #626368;
	border-right:1px solid #626368;
	clear:both;
}

#referencje #quotes p {
	width:460px;
	color:#fff;
	line-height:22px;
	font-family: 'titillium_webregular';
	font-size:16px;
	font-weight:normal;
	margin-top:50px;
}

#referencje #quotes span {
	color:#b3b8c6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	display:block;
	margin-top:42px;
}

#referencje ul {
	margin-left:-30px;
	padding-left:0px;
	float:left;
	margin-top:30px;
	cursor:default;
	clear:both;
	display:block;
}

#referencje ul li {
	display:inline-block;
	margin-right:6px;
}

#referencje ul li a {
	background-color:#b3b8c6;
	width:18px;
	height:18px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	padding:0px;
	text-indent:-3333px;
	float:left;
}

#referencje ul li a:hover,
#referencje ul li.active a {
	background-color:#ee1191;
}

#kontakt {
	margin-left:300px;
	float:left;
	margin-top:120px;
}

#kontakt h3 {
	color:#b3b8c6;
	font-family: 'tecna_heavyregular';
	font-size:30px;
	font-weight:normal;
}

#kontakt ul {
	margin:0px;
	padding:0px;
}

#kontakt ul li {
	display:inline-block;
	margin-right:25px;
	font-family: 'titillium_webregular';
	font-size:16px;
	font-weight:normal;
}

#kontakt ul li.web {
	background-image:url(../img/ico-web.png);
	background-repeat:no-repeat;
	padding-left:25px;
}

#kontakt ul li.web a {
	text-decoration:none;
	color:#fff;
}

#kontakt ul li.phone {
	background-image:url(../img/ico-phone.png);
	background-repeat:no-repeat;
	color:#fff;
	padding-left:20px;
}

#kontakt form {
	float:left;
	display:block;
	margin:20px 0;
}

#kontakt form textarea {
	resize:none;
	float:left;
	background-color:#494f5c;
	color:#b3b8c6;
	border:0px solid;
	padding:10px;
	width:314px;
	height:69px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#kontakt form input {
	resize:none;
	float:left;
	background-color:#494f5c;
	color:#b3b8c6;
	border:0px solid;
	padding:5px 10px;
	width:295px;
	height:30px;
	margin-top:1px;
	margin-left:10px;
	margin-bottom:8px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#kontakt form input[type="submit"] {
	background-image:url(../img/button.png);
	width:120px;
	height:40px;
	float:right;
	margin-top:2px;
	cursor:pointer;
	border:0px solid;
	text-indent:-3333px;
	margin-right:37px;
}

#kontakt form input[type="submit"]:hover {
	opacity:0.9;
}

#kontakt img {
	margin-top:-70px;
}

#kontakt h5 {
	color:#596578;
	font-family: 'tecna_heavyregular';
	font-size:30px;
	font-weight:normal;
	text-align:right;
	margin-right:37px;
	margin-bottom:20px;
}

#kontakt h5 span {
	color:#33ccff;
}

#kontakt p {
	font-size:5px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:8px;
	color:#676b77;
	width:455px;
	text-align:right;
	float:right;
	margin-right:37px;
	margin-bottom:10px;
}


/*NAWIGACJA*/
a.right {
	background-image:url(../img/arrow-right.png);
	width:90px;
	height:70px;
	position:fixed;
	top:370px;
	right:0px;
	text-indent:-3333px;
}

a.left {
	background-image:url(../img/arrow-left.png);
	width:90px;
	height:70px;
	position:fixed;
	top:370px;
	left:0px;
	text-indent:-3333px;
}

a.right:hover,
a.left:hover {
	opacity:0.9;
}
