<title>{{ get_seo('default-prefix', 'title') }} :: {{ title }} </title>
<meta name="description" content="{{ get_seo('default-prefix', 'description') }}">
<meta name="keywords" content="{{ get_seo('default-prefix', 'keywords') }}">