.middle-menu {
    margin-top: 0;
    padding-top: 15px;
    position: relative;
    height: 270px;

}

.middle-menu a.right, .middle-menu a.left {
    height: 130px;
    width: 100px;
    position: absolute;
    display: block;
    opacity: 0.20;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding: 120px 0 0 0;
    z-index: 1;
}

#ca-menu-1 {
    position: absolute;
    text-align: center;
    width: 100%;
}

#ca-menu-2 {
    position: absolute;
    text-align: center;
    width: 100%;
    right: -1020px;
    opacity: 0;
}

.overflower {
    width: 100%;
    overflow: hidden;
}

.middle-menu a.right:hover, .middle-menu a.left:hover {
    opacity: 0.4;
}

.middle-menu a.left {
    background: url('../img/factory-icon.png') 18px 35px no-repeat  #999;
    left: 0px;
    float: left;
    border-radius: 0 15px 15px 0;
    box-shadow:  -10px 10px 15px #666;
    z-index: 2;
}

.middle-menu a.right {
    background: url('../img/home-icon.png') 18px 35px no-repeat  #999;
    right: 0px;
    border-radius: 15px 0 0 15px;
    float: right;
    box-shadow: 10px 10px 15px #666;
    z-index: 2;
}

div.middle-menu ul.ca-menu {
    display: none;
}

.user-icon {
    background: url('../img/user-icon.png') 75px 0 no-repeat;
}

.fav-icon {
    background: url('../img/fav-icon.png') 75px 0 no-repeat;
}

.mail-icon {
    background: url('../img/mail-icon.png') 75px 0 no-repeat;
}

.doc-icon {
    background: url('../img/doc-icon.png') 75px 0 no-repeat;
}

.ca-menu li.active {
    border-color: #000
}

#brand {
    background: url('../img/lightning-bolt.png') 11px 11px no-repeat;
    padding-left: 40px; 
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    outline: none;
    background-color: #E5E9EC;
}

a {
    outline: none;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}


/* Main marketing message and sign up button */
.jumbotron {
    margin: 120px 0 0 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 50px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.cufon-loading { 
    visibility: hidden;
}


.footer {
    border-top: 1px solid #FFFFFF;
    margin-top: 70px;
    padding: 10px 0;
    text-align: center;
}


.footer p {
    color: #777777;
    margin-bottom: 0;
}

.footer a {
    margin: 0 20px;
    color: #5A5A5A;
}

.contact-form {
    float: left;
    width: 340px;
}

.contact-form input[type="text"] {
    width: 320px;
}

.contact-form textarea {
    width: 320px;
    height: 100px;
}

#contact img {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 50px;
}

#contact div.contact-data {
    float: left;
    width: 400px;
    margin-left: 60px;
}

#contact div.contact-data table tr td:last-child {
    padding-left: 15px;
}

 ul.footer-nav li {
    display: inline-block;
}