{% extends 'CatMSFrontendBundle::base.html.twig' %}

{% block seo %}
    {% include 'CatMSFrontendBundle:Helpers:page-seo.html.twig' with {'pageName': group.slug} %}
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>{{ header }}</h2>
    
    <div>
        <div class="subpage-left">
            {% if subpages | length > 0 %}
                <ul>
                {% for page in subpages %}
                <li>
                    <a href="#">{{ page.title }}</a>
                </li>
                {% endfor %}  
                </ul>
            {% endif %}
        </div>
        <div class="subpage-right">
            {% if subpages | length > 0 %}
                {% for page in subpages %}
                    <div class="subpage-content">
                        <h4>{{ page.title }}</h4>
                        <div>
                            {{ page.fullText | parse_gallery | raw }}
                        </div>
                    </div>
                {% endfor %}  
                </ul>
            {% endif %}            
        </div>
    </div>
      
</div>

<script>
$(function(){
    $('.subpage-right').children().hide();
    $('.subpage-right div.subpage-content:eq(0)').show();
    $('.subpage-left ul li:eq(0)').addClass('active');
    
    $('.subpage-left ul li a').click(function(){
        var eq = $(this).parent('li').index();
        
        $('.subpage-left ul li').removeClass('active');
        $(this).parent('li').addClass('active');
        
        $('.subpage-right').children().fadeOut(500);
        window.setTimeout(function(){
            $('.subpage-right div.subpage-content:eq('+ eq + ')').fadeIn(500);
        }, 500);
        
        return false;
    });
});
</script>
{% endblock %}